header {
  background-color: #474448;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header p {
  margin-right: 15px;
}

body {
  background-color: rgb(237, 237, 237);
}

.nav {
  display: flex;
  flex-direction: row;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
  width: 200px;
  height: 125px;
}
